.cards-container {
  min-height: calc(100vh - 60px);
  margin: 0;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  & > .container {
    margin-top: 5rem;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    & > .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      & > .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        & > .profile-icon {
          width: 2rem;
          height: 2rem;
        }
        & > .card-title {
          font-size: 1.5rem;
          margin-left: 1rem;
        }
      }
    }
  }
}

.search__failure {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  & > .content {
    font-size: 1.5rem;
    color: #6200ee;
    margin: 2rem;
  }
  & > img {
    width: 5rem;
    height: 5rem;
  }
}

.list-group-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #dadada;
  padding: 0.5rem;
  overflow-x: hidden;
  & > span {
    margin-inline-start: 0.5rem;
    text-transform: capitalize;
  }
}

.card {
  width: 18rem;
  margin: 10px;
  height: 250px;
  transition-duration: 0.3s;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  cursor: pointer;
  overflow-x: hidden;
  &:hover {
    box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
    transform: translateY(-3px);
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.users-list.cdk-drop-list-dragging .user:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
