<div
  class="bg-primary p-3"
  [ngClass]="{ 'bg-primary': !isDark, 'dark-theme': isDark }"
>
  <div class="container">
    <form
      class="form row g-3"
      [formGroup]="searchForm"
      (ngSubmit)="submitFormHandler(searchForm)"
    >
      <div class="col-auto">
        <input
          type="text"
          class="search__field form-control"
          formControlName="search"
        />
      </div>
      <div class="col-auto">
        <button
          type="submit"
          [disabled]="searchForm.invalid"
          class="btn btn-primary"
        >
          <img src="../../../assets/Search.svg" alt="Search-icon" />
        </button>
      </div>
    </form>
    <div class="theme" (click)="changeTheme()">
      <img
        [src]="
          isDark ? '../../../assets/Dark.svg' : '../../../assets/Light.svg'
        "
        alt="Theme-icon"
      />
    </div>
  </div>
</div>
