.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #6200ee;
  height: 60px;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 10rem;
  transition: all 0.3s ease 0s;
  &:focus-within {
    transform: translateY(-5px);
    box-shadow: 0 0.7rem 3rem rgba(97, 85, 81, 0.08);
  }

  & > .search__field {
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    height: 2.2rem;
    width: 20rem;
  }

  & > .clear__button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transform: translate(-95px);
  }

  & > .submit__button {
    height: 2.2rem;
    width: 3rem;
    transform: translate(-81px, 0px);
    & > :disabled,
    &[disabled] {
      height: 2.2rem;
      background-color: #86a4f5;
    }
  }
}

.theme {
  display: flex;
  align-items: center;
  justify-content: center;
  & > button {
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    background: #3f51b5;
    margin-right: 5rem;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px;
    width: 5rem;
  }
  & > img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.translation {
  & > button {
    margin: 1rem;
  }
}

@media (max-width: 1200px) {
  .title {
    font-size: 1.5rem;
  }

  .search__field {
    border: none;
    outline: none;
    background: #fff;
    font-size: 1rem;
    width: 20rem;
  }

  button {
    height: 2.5rem;
    transform: translate(-50px);
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      width: 0.5rem;
    }
  }

  .theme {
    img {
      width: 1.5rem;
      height: 1.5rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 850px) {
  .title {
    font-size: 1rem;
  }

  .search__field {
    border: none;
    outline: none;
    background: #fff;
    font-size: 1rem;
    width: 10rem;
  }

  button {
    height: 2.5rem;
    transform: translate(-50px);
    display: flex;
    align-items: center;
    justify-content: center;
    & > img {
      width: 0.5rem;
    }
  }

  .theme {
    img {
      width: 1rem;
      height: 1rem;
      cursor: pointer;
    }
  }
}
