<div class="header" [ngClass]="{ 'bg-primary': !isDark, 'dark-theme': isDark }">
  <nav>
    <span class="title">SW App</span>
  </nav>
  <div class="container">
    <form
      class="form"
      [formGroup]="searchForm"
      (ngSubmit)="submitFormHandler(searchForm)"
    >
      <input
        type="text"
        class="search__field form-control"
        formControlName="search"
        matInput
      />
      <button mat-raised-button color="primary">
        <img src="../../../assets/Search.svg" alt="Search-icon" />
      </button>
    </form>
    <div class="theme" (click)="changeTheme()">
      <button (click)="goBack()">Home</button>
      <img
        [src]="
          isDark ? '../../../assets/Dark.svg' : '../../../assets/Light.svg'
        "
        alt="Theme-icon"
      />
    </div>
  </div>
</div>
