<div class="header" [ngClass]="{ 'bg-primary': !isDark, 'dark-theme': isDark }">
  <nav>
    <span class="title">SW App</span>
  </nav>
  <div class="container">
    <form class="form" [formGroup]="searchForm">
      <input
        type="text"
        class="search__field form-control"
        formControlName="search"
        matInput
      />

      <button
        class="clear__button"
        [disabled]="searchForm.invalid"
        (click)="clearForm()"
      >
        <img
          *ngIf="this.searchForm.value.search != null"
          src="../../../assets/Cancel.svg"
          alt="Cancel-icon"
        />
      </button>

      <button
        mat-raised-button
        color="primary"
        class="submit__button"
        [disabled]="searchForm.invalid"
        (click)="submitFormHandler()"
      >
        <img src="../../../assets/Search.svg" alt="Search-icon" />
      </button>
    </form>
    <div class="translation">
      <button (click)="switchLang('en')" mat-raised-button [color]="enBtn">
        EN
      </button>
      <button (click)="switchLang('ar')" mat-raised-button [color]="arBtn">
        AR
      </button>
    </div>
    <div class="theme" (click)="changeTheme()">
      <img
        [src]="
          isDark ? '../../../assets/Dark.svg' : '../../../assets/Light.svg'
        "
        alt="Theme-icon"
      />
    </div>
  </div>
</div>
