<app-search-bar></app-search-bar>

<div class="container mt-5">
  <div class="row row-cols-3 gap-4">
    <div class="card col" style="width: 18rem" *ngFor="let item of results">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <img
            *ngIf="item.gender == 'male'"
            src="'../../../assets/Gender-Male.svg"
            alt="Gender-icon"
          />
          <img
            *ngIf="item.gender == 'female'"
            src="'../../../assets/Gender-Female.svg"
            alt="Gender-icon"
          />
          <span>{{ item.gender }}</span>
        </li>
        <li class="list-group-item">Height: {{ item.height }}cm</li>
        <li class="list-group-item">created date: {{ item.created | date }}</li>
      </ul>
    </div>
  </div>
</div>

<div class="mt-5" aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item" [ngClass]="{ disabled: firstPage }">
      <button class="btn bg-primary page-link" (click)="getPreviousPage()">
        <img src="../../../assets/left-arrow.svg" alt="left-arrow-icon" />
      </button>
    </li>
    <li class="page-item">
      <span class="page-link">{{ pageNum }}</span>
    </li>
    <li class="page-item" [ngClass]="{ disabled: lastPage }">
      <button class="btn bg-primary page-link" (click)="getNextPage()">
        <img src="../../../assets/right-arrow.svg" alt="right-arrow-icon" />
      </button>
    </li>
  </ul>
</div>
